<html>
    <head>
    </head>
    <body>
        <div class='erros'>
            <% if(errosValidacao) { %>
                <ul>
                    <% for(var i=0; i < errosValidacao.length; i++) {%>
                        <li>
                            <%= errosValidacao[i].param %> - <%= errosValidacao[i].msg %>
                        </li>
                    <%}%>
                </ul>
            <%}%>
        </div>
        
        <form action="/produtos" method="post">
            <div>
                <label for='titulo'>Titulo</label>
                <input type="text" name="titulo" value="<%=produto.titulo%>"placeholder="Coloque o Titulo">
            </div> <br>
            <div>
                <label for='preco'>Preço</label>
                <input type="text" name="preco" value="<%=produto.preco%>" placeholder="Insira o Valor">
            </div> <br>
            <div>
                <label for='descricao'>Descrição</label>
                <textarea cols='20' rows="10" name="descricao" placeholder="Coloque a drescrição"><%=produto.descricao %></textarea>
            </div><br>
            <button type="submit">Enviar</button> 
        </form>
    </body>
</html>